# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environment
.venv

# Database
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
logs/
*.log

# Models
*.pkl
*.joblib
models_saved/*.pkl
!models_saved/.gitkeep

# Large generated data and documentation
# These folders often contain large datasets and downloaded files that should not be committed to Git.
data/
documentation/
models_saved/
!models_saved/.gitkeep

# OS
.DS_Store
Thumbs.db